/* src/index.css */
:root {
  margin: 0;
  padding: 0;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Usamos el color celeste de tu captura para que todo sea uniforme */
  background-color: #90cdf4; 
}

* {
  box-sizing: border-box;
}